<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Live Calculator</title>
</head>
<body>
    <div id="sumMult">
        A: <input v-model="a">
        B: <input v-model="b">
        <p id="+" v-if="a.length > 0 && b.length > 0">The sum is: {{sumOf()}}.</p>
        <p id="*" v-if="a.length > 0 && b.length > 0">The product is: {{multOf()}}.</p>
    </div>
    <script>
    var calculatorApp = new Vue({
        el: '#sumMult',
        data: {
            a: '',
            b: ''
        },
        computed: {
            
        },
        methods: {
            sumOf: function() {
                return (parseInt(this.a) + parseInt(this.b));
            },
            multOf: function() {
                return (parseInt(this.a) * parseInt(this.b));
            },
        }
    });
    </script>
</body>
</html>